@*@model DataBase.JobSeekerProfile*@
@using DataBase
@model dynamic

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Career Care </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">




    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/assets/css/price_rangs.css">
    <link rel="stylesheet" href="~/Content/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/icondropdown.css">  @*this is for the profile icon dropdown*@


</head>

<body>

    @if (Model.filter3.JsImagePath == null)
    {
        <header>
            <!-- Header Start -->
            <div class="header-area header-transparrent">
                <div class="headder-top header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-2">
                                <!-- Logo -->
                                <div class="logo">
                                    <a href="index.html"><img src="~/Content/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="menu-wrapper">
                                    <!-- Main-menu -->
                                    <div class="main-menu">
                                        <nav class="d-none d-lg-block">
                                            <ul id="navigation">
                                                <li><a href="/EmployeeHome/EmpIndex">Home</a></li>
                                                <li><a href="/EmployeeHome/EmpFindJob">Find a Jobs </a></li>
                                                <li><a href="/EmployeeHome/EmpAbout">About</a></li>
                                                <li>
                                                    <a href="#">Page</a>
                                                    <ul class="submenu">
                                                        <li><a href="/EmployeeHome/EmpBlogList">Blog</a></li>
                                                       
                                                        @*<li><a href="#">Elements</a></li>
                                                            <li><a href="#">job Details</a></li>*@
                                                    </ul>
                                                </li>
                                                <li><a href="/EmployeeHome/EmpContact">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-btn d-none f-right d-lg-block">
                                        <div class="">
                                            <div style="padding-right: -15px;">

                                                <div class="dropdown">
                                                    <button onclick="myFunction()" class="dropbtn"><img src="~/Content/assets/img/testmonial/testimonial-founder.png" height="60px" width="60px" alt=""></button>
                                                    <div id="myDropdown" class="dropdown-content">
                                                        <a href="/EmployeeHome/EmpAllAppliedJob">Applications</a><!--where user have applied-->
                                                        <a href="/EmployeeHome/EmpUpdateInfo">Update Profile</a>
                                                        <a href="/EmployeeHome/EmpShowInfo">User Information</a>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                    <a href="/Home/Index" class="btn head-btn2">Logout</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>



    }
    else

    {
        <header>
            <!-- Header Start -->
            <div class="header-area header-transparrent">
                <div class="headder-top header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-2">
                                <!-- Logo -->
                                <div class="logo">
                                    <a href="index.html"><img src="~/Content/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="menu-wrapper">
                                    <!-- Main-menu -->
                                    <div class="main-menu">
                                        <nav class="d-none d-lg-block">
                                            <ul id="navigation">
                                                <li><a href="/EmployeeHome/EmpIndex">Home</a></li>
                                                <li><a href="/EmployeeHome/EmpFindJob">Find a Jobs </a></li>
                                                <li><a href="/EmployeeHome/EmpAbout">About</a></li>
                                                <li>
                                                    <a href="#">Page</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Blog</a></li>
                                                        <li><a href="#">News</a></li>
                                                        @*<li><a href="#">Elements</a></li>
                                                            <li><a href="#">job Details</a></li>*@
                                                    </ul>
                                                </li>
                                                <li><a href="/EmployeeHome/EmpContact">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-btn d-none f-right d-lg-block">
                                        <div class="">
                                            <div style="padding-right: -15px;">

                                                <div class="dropdown">
                                                    <button onclick="myFunction()" class="dropbtn"><img src="@Url.Content(Model.filter3.JsImagePath)" height="60px" width="60px" alt=""></button>
                                                    <div id="myDropdown" class="dropdown-content">
                                                        <a href="#">Applications</a><!--where user have applied-->
                                                        <a href="/EmployeeHome/EmpUpdateInfo">Update Profile</a>
                                                        <a href="/EmployeeHome/EmpShowInfo">User Information</a>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                    <a href="/Home/Index" class="btn head-btn2">Logout</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>


    }


<main>

    <!-- Hero Area Start-->
    @foreach (var jobs in Model.filter1)
    {

        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="~/Content/assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>@jobs.JobTitle</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

        @*@foreach (var jobs in Model.filter1)
            {*@

        using (Html.BeginForm("CVUpload", "EmployeeHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {



            <!-- job post company Start -->
            <div class="job-post-company pt-120 pb-120">
                <div class="container">
                    <div class="row justify-content-between">
                        <!-- Left Content -->
                        <div class="col-xl-7 col-lg-8">
                            <!-- job single -->
                            <div class="single-job-items mb-50">
                                <div class="job-items">
                                    <div class="company-img company-img-details">
                                        <a href="#"><img src="@Url.Content(jobs.CompanyProfile.CmpLogo)" height="85px" width="85px" alt=""></a>
                                    </div>
                                    <div class="job-tittle">
                                        <a href="#">
                                            <h4>@jobs.JobTitle</h4>
                                        </a>
                                        <ul>
                                            <li>@jobs.CompanyProfile.CmpName</li>
                                            <li><i class="fas fa-map-marker-alt"></i>@jobs.CompanyProfile.CmpHeadQ</li>
                                            <li>@jobs.JobSalary</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- job single End -->

                            <div class="job-post-details">
                                <div class="post-details1 mb-50">
                                    <!-- Small Section Tittle -->
                                    <div class="small-section-tittle">
                                        <h4>Job Description</h4>
                                    </div>
                                    <p>@jobs.JobDes</p>
                                    @*<p>It is a long established fact that a reader will beff distracted by vbthe creadable content of a page when looking at its layout. The pointf of using Lorem Ipsum is that it has ahf mcore or-lgess normal distribution of letters, as opposed to using, Content here content here making it look like readable.</p>*@
                                </div>
                                <div class="post-details2  mb-50">
                                    <!-- Small Section Tittle -->
                                    <div class="small-section-tittle">
                                        <h4>Required Knowledge, Skills, and Abilities</h4>
                                    </div>
                                    <ul>
                                        <li>System Software Development</li>
                                        <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                                        <li>Research and code , libraries, APIs and frameworks</li>
                                        <li>Strong knowledge on software development life cycle</li>
                                        <li>Strong problem solving and debugging skills</li>
                                        <li>@jobs.JobRequiredSkill</li>
                                    </ul>
                                </div>
                                <div class="post-details2  mb-50">
                                    <!-- Small Section Tittle -->
                                    <div class="small-section-tittle">
                                        <h4>Education + Experience</h4>
                                    </div>
                                    <ul>
                                        <li>3 or more years of professional design experience</li>
                                        <li>Direct response email experience</li>
                                        <li>Ecommerce website design experience</li>
                                        <li>Familiarity with mobile and web apps preferred</li>
                                        <li>Experience using Invision a plus</li>
                                        <li>@jobs.JobExperience Years</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- Right Content -->
                        <div class="col-xl-4 col-lg-4">
                            <div class="post-details3  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Overview</h4>
                                </div>
                                <ul>
                                    <li>Posted date : <span>@jobs.JobPostedDate</span></li>
                                    <li>Location : <span>@jobs.JobLocation</span></li>
                                    <li>Vacancy : <span>@jobs.JobVacancy</span></li>
                                    <li>Job nature : <span>@jobs.JobNature</span></li>
                                    <li>Salary :  <span>@jobs.JobSalary</span></li>
                                    <li>Application date : <span>@jobs.JobDeadLine</span></li>
                                </ul>

                                <!--Hidden value passing-->

                                <input type="hidden" id="JobTitle" name="JobTitle" value="@jobs.JobTitle">
                                <input type="hidden" id="CmpName" name="CmpName" value="@jobs.CompanyProfile.CmpName" />
                                <input type="hidden" id="JsName" name="JsName" value="@Model.filter3.JsName" />
                                <input type="hidden" id="CompanyLogo" name="CompanyLogo" value="@jobs.CompanyProfile.CmpLogo" />
                                <input type="hidden" id="JobId" name="JobId" value="@jobs.JobId" />
                                <input type="hidden" id="JsId" name="JsId" value="@Model.filter3.JsId" />

                                <!--Hidden value passing stop-->

                                <label>Upload Your CV</label>
                                <input type="file" id="CVFile" name="CVFile" /><br /><br />

                                <div class="apply-btn2">
                                    <input type="submit" class="btn" value="Apply Now" />


                                    @*<a href="#" class="btn">Apply Now</a>*@
                                </div>

                            </div>
                            <div class="post-details4  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Company Information</h4>
                                </div>
                                <span>@jobs.CompanyProfile.CmpName</span>
                                <p>@jobs.CompanyProfile.CmpDescription</p>
                                @*<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>*@
                                <ul>
                                    <li>Name: <span>@jobs.CompanyProfile.CmpName </span></li>
                                    <li>Web : <span>@jobs.CompanyProfile.CmpWebsite</span></li>
                                    <li>Email: <span>@jobs.CompanyProfile.CmpEmail</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- job post company End -->
        }
    }

</main>



    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p>In this site you can find different types of job . We are giving a platform to choose your dream job.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                        <p>
                                            Address :Your address goes
                                            Dhaka , Bangladesh
                                        </p>
                                    </li>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Email : info@careercare.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> View Project</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Proparties</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                    <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="#"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Any Suggestions"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'Any Suggestions '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="~/Content/assets/img/icon/form.png" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row footer-wejed justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <!-- logo -->
                        <div class="footer-logo mb-20">
                            <a href="index.html"><img src="~/Content/assets/img/logo/footer.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>5000+</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>451</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <!-- Footer Bottom Tittle -->
                        <div class="footer-tittle-bottom">
                            <span>568</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- S licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    <!--   licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->
    <!-- This javascrip is for the ProfileIcon Dropdown -->
    <script>
        /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }</script>



    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/animated.headline.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/Content/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/Content/assets/js/contact.js"></script>
    <script src="~/Content/assets/js/jquery.form.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/mail-script.js"></script>
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>